APP_NAME=ELLIOT-HR
APP_ENV=local
APP_DEBUG=false
# Utiliser "auto" en VPS si le domaine peut changer ou si l'application est derriere un proxy.
# Exemple domaine fixe: APP_URL=https://rh.votre-domaine.com
APP_URL=auto
APP_TIMEZONE=Africa/Lubumbashi
APP_LOCALE=fr

DB_DRIVER=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=elliot_hr_db
DB_USERNAME=root
DB_PASSWORD=
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_unicode_ci
