APP_NAME=ELLIOT-HR
APP_ENV=local
APP_DEBUG=false
APP_URL=http://localhost/ELLIOT-HR
APP_TIMEZONE=Africa/Lubumbashi
APP_LOCALE=fr

DB_DRIVER=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=elliot_hr_db
DB_USERNAME=root
DB_PASSWORD=
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_unicode_ci
